# Xcode
#
.DS_Store
build/
DerivedData/

# User-specific Xcode files
xcuserdata/

# Swift Package Manager
#
.build/
.swiftpm/

# CocoaPods
#
Pods/
Podfile.lock

# Carthage
#
Carthage/Build/

# Accio dependency management
.swiftpm/
Dependencies/
.accio/

# fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# SwiftPM Packages
Packages/
Package.pins
Package.resolved
